{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="padding-bottom: 20px;">
            <form action="{% url 'buscar_projeto' %}" method="GET">
                <input type="text" name="titulo" class="border px-5 py-3 me-sm-3 fs-6 fw-bolder" autocomplete="on" placeholder="Buscar projeto">
                <button type="submit" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Buscar</button>
                <a href="{% url 'projetos' %}" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">Limpar</a>
            </form>
        </div>
        {% if buscar %}
            {% if projetos_encontrados %}
                {% for projeto in projetos_encontrados %}
                    <div class="row" style="padding-bottom: 20px; padding-top: 20px; border-top: 1px solid rgb(145, 144, 144);">
                        <div class="col-5">
                            <img class="fotos_projetos" src="{{ projeto.thumb_projeto.url }}"  alt="...">
                        </div>
                        <div class="col-7" style="align-content: center;">
                            <ul style="list-style-type: none;">
                                <li>
                                    <h3>{{projeto.titulo}}</h3>
                                </li>
                                <li>
                                    <p class="li_projetos"><span style="font-weight: 500;">Descrição:</span> {{projeto.descricao_curta}}</p>
                                </li>
                                <li>
                                    <p class="li_projetos"><span style="font-weight: 500;">Tecnologias:</span> {{projeto.tecnologias}}</p>
                                </li>
                                <li>
                                    <a href="{% url 'detalhes_projetos' id_projeto=projeto.id %}" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Detalhar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="alert" style="color: darkred;">Projeto não encontrado!</h2>
            {% endif %}
        {% else %}
            {% for projeto in projetos %}
                <div class="row" style="padding-bottom: 20px; padding-top: 20px; border-top: 1px solid rgb(145, 144, 144);">
                    <div class="col-5">
                        <img class="fotos_projetos" src="{{ projeto.thumb_projeto.url }}"  alt="...">
                    </div>
                    <div class="col-7" style="align-content: center;">
                        <ul style="list-style-type: none;">
                            <li>
                                <h3>{{projeto.titulo}}</h3>
                            </li>
                            <li>
                                <p class="li_projetos"><span style="font-weight: 500;">Descrição:</span> {{projeto.descricao_curta}}</p>
                            </li>
                            <li>
                                <p class="li_projetos"><span style="font-weight: 500;">Tecnologias:</span> {{projeto.tecnologias}}</p>
                            </li>
                            <li>
                                <a href="{% url 'detalhes_projetos' id_projeto=projeto.id %}" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Detalhar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}    
        {% endif %}
    </div>
{% endblock %}

{% block about %}
{% endblock %}